<div class="uk-position-center uk-overlay uk-overlay-default">
    <h1 class="text-center">Log In</h1>
    <form>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                <input class="uk-input" type="email" placeholder="E-mail">
            </div>
        </div>

        <div class="uk-margin">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input" type="password" placeholder="Password">
            </div>
        </div>

    </form>
    <button class="btn btn-success" style="width: 100%;">Login</button>
    <p class="text-center">Forget <a href="#">password ?</a></p>
</div>